html,body{
  margin: 0;
  padding: 0;
  background-color: #343a40;
  font-family: 'Source Sans Pro', sans-serif;
}
#navbarDropdown
{
  color: orange;
}
#sale{
  color: red;
}
#buy{
  color: white;
}
#txt{
  padding-left: 10%;
}
.products{
  margin-bottom: 30px;
}
form, h2, p{
  color: white;
  margin-top: 40px;
}
.card-group{
  background-color: #343a40;
}
.card{
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: #343a40;
  border: none;
  text-align: center;

}
.card-body{
  height: 10px;
  background-color: #343a40;
  color: white;

}
.card-img-top{
  height: 35vh;
  width: 90%;
  border: 2px solid orange;

}
#foot{
  color: white;
  background-color: grey;
}
.footer-copyright{
  background-color: darkgrey;
}
